.icon {
	display: inline-block;
	fill: currentColor;
}

.icon-cart {
	max-width: 100%;
	height: 100%;
}
.icon-logo {
	max-width: 100%;
	height: 100%;
}
.icon-search {
	max-width: 100%;
	height: 100%;
}
.icon-wish {
	max-width: 100%;
	height: 100%;
}
